@model Models.Library
@{
    ViewBag.Title = "DeleteLibrary";
    //if (Request.IsAjaxRequest())
    //{
    //    Layout = null;
    //}
    Layout = null;
}

@*@using (Ajax.BeginForm("DeleteLibrary", "Library", new AjaxOptions { HttpMethod = "POST", OnComplete = "completed", LoadingElementId = "deleteLibraryForm #server-progress", OnBegin = "begin" }, new { id = "deleteLibraryForm", enctype = "multipart/form-data" }))
{*@
<form asp-action="DeleteLibrary" asp-controller="Library" data-ajax="true" data-ajax-method="post" enctype="multipart/form-data" data-ajax-complete="completed" data-ajax-begin="begin" class="form-horizontal form-label-left input_mask" id="deleteLibraryForm" data_reset="true" ,enctype="multipart/form-data">
  
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)


    <div class="row">
        <div class="col-12">
            <div id="message">

            </div>
        </div>
    </div>


    <div class="card">
       
        <div class="card-body">
            <div class="row">

                @Html.HiddenFor(model => model.ID)

                <div>
                    <h5>Are You Sure You Want to Delete This!!.</h5>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.LibraryName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.LibraryName)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Code)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Code)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.OpeningTime)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.OpeningTime)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.ClosingTime)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ClosingTime)
                        </dd>

                    </dl>
                   
                </div>

            </div>
        </div>
    </div>
    <input type="hidden" asp-for="ID" />
    <button asp="Index" data-dismiss="modal" aria-label="Close" class="btn btn-danger float-right"> <i class="fa fa-chevron-circle-left mr-2"></i> Close</button>
    <button type="submit" value="Create" id="submitbuttom" class="btn btn-primary float-right">
        <i class="fa fa-save mr-2"></i>
        <span>
            <i id="server-progress" style="display: none;" class=" fa fa-spinner fa-spin "></i>

        </span> Delete
    </button>
</form>
<script>
    function disablebutton() {
        $('#submitbuttom').hide();
    }</script>