@using Models
@using Syncfusion.EJ2.Grids
@using smsCore.ViewModels;
@inject StaticResources resources

@{
    ViewBag.Title = "RoomReocrd";
}

    <div class="breadcrumbs ace-save-state" id="breadcrumb">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home ace-icon home-icon">

                </i>
                <a href="@Url.Action("Index", "Dashboard")">Dashboard</a>
            </li>
            <li class="active">
                <a href="@Url.Action("HostelReports", "Reports")">Hostel Report</a>
            </li>
            <li class="active">
               Hostel Rooms Record
            </li>
        </ul>
    </div>


<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header with-border">
                    <h3 class="card-title"><i class="fa fa-search"></i> Select Criteria</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-sm-3 form-group has-feedback">
                            <label>Hostel</label>
                            <div class="controls">
                                @Html.DropDownList("hostel", (SelectList)ViewBag.hstlename, new { @class = "form-control " })
                           
                            <span class="fa fa-building small form-control-feedback left" aria-hidden="true"></span>
                                </div>
                        </div>

                        <div class="col-sm-3 col-12 pb-2 mt-2 pt-3 form-group has-feedback">
                            <button type="button" class="btn btnSearchStudent btn-primary float-left sico-button sico-btn" id="btnSearch"><i class="fa fa-search"></i> Search</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-12">
            @{

                var grid = new GridModel()
                {
                    GridId="listHostelroom",
                    AllowPrint=true,
                    AllowPdfExport=true,
                    AllowExcelExport=true,
                    ReportTitle="Hostel Room Record",
                    Columns=new List<Column>() {
                    new Column{ FieldName="HostelName",HeaderText="Hostel Name", Width="", TextAlign= TextAlign.Left },
                    new Column{ FieldName="Floor",HeaderText="Floor", Width="", TextAlign= TextAlign.Left },
                    new Column{ FieldName="Roomno",HeaderText="Room No", Width="", TextAlign= TextAlign.Left },
                    new Column{ FieldName="Capacity",HeaderText="Capacity", Width="", TextAlign= TextAlign.Left },
                    new Column{ FieldName="NoOfStudent",HeaderText="Total Students", Width="", TextAlign= TextAlign.Left }

                    }

                };
            }
            @Html.Partial("_grid", grid)

            @*@Html.EJS().Grid("GridS").AllowFiltering().FilterSettings(filter => filter.Type(FilterType.Menu)).AllowGrouping().Height("300").Width("auto").AllowExcelExport().AllowPdfExport().ToolbarClick("toolbarClick").ShowColumnChooser().AllowResizing().Columns(col =>
       {
           col.Field("HostelName").HeaderText("Hostel Name").Width("80").TextAlign(TextAlign.Left).Add();
           col.Field("Floor").HeaderText("Floor").Width("80").TextAlign(TextAlign.Left).Add();
           col.Field("Roomno").HeaderText("RoomNo").Width("80").TextAlign(TextAlign.Left).Add();
           col.Field("Capacity").HeaderText("Capacity").Width("80").TextAlign(TextAlign.Left).Add();
           col.Field("NoOfStudent").HeaderText("Total Students").Width("80").TextAlign(TextAlign.Left).Add();
       }).FilterSettings(filter => { filter.Type(FilterType.CheckBox); }).AllowSorting().Aggregates(agg =>
       {
           agg.Columns(new List<GridAggregateColumn>
                {
                    new GridAggregateColumn {Field = "Roomno", Type = "Sum", FooterTemplate = "Total Rooms: ${Sum}"},
                    new GridAggregateColumn {Field = "NoOfStudent", Type = "Sum", FooterTemplate = "Total Students: ${Sum}"}
                }).Add();
       }).PageSettings(page => page.PageSize(5)).Toolbar(new List<string> { "PdfExport", "Print", "ExcelExport", "Search", "ColumnChooser" }).Render()*@
        </div>
    </div>
</section>
<script @resources.JavaScript>
    function reloadGridData() {

    }

    $('#btnSearch').on('click',
        function() {
            var url1 = '@Url.Action("GetRoomsRecordList")';
            url1 += '?hostel=' + $('#hostel').val();
            var messageTop = 'Admission History' + 'List';
            $.get(url1,
                null,
                function(data) {
                    var gridObj = document.getElementById("@grid.GridId").ej2_instances[0];
                    // Refreshes the grid data source
                    gridObj.dataSource = (data);
                });
        });

    @*function toolbarClick(args) {
        var gridObj = document.getElementById("@grid.GridId").ej2_instances[0];
        if (args.item.id === 'GridS_pdfexport') {
            gridObj.pdfExport();
        }
        if (args.item.id === 'GridS_excelexport') {
            gridObj.excelExport();
        }
    }*@
</script>
@Html.EJS().ScriptManager()