@model System.Data.DataTable
@inject StaticResources resources

@{
    /**/
    string title = "Journal Register";
    string action = "JournalRegister";
    string createAction = "JournalVoucher";
    string listdataAction = "JournalVoucherList";
    string deleteMasterAction = "DeleteJournalVoucher";
    string gridId = "Grid";
    ViewBag.Title = title;
}
<div class="breadcrumbs ace-save-state" id="breadcrumb">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home ace-icon home-icon">
            </i>
            <a href="@Url.Action("Index","Dashboard")">Dashboard</a>
        </li>
        <li class="active">
            Accounts
        </li>
        <li class="active">
            @title
        </li>
    </ul>
</div>
@*@using (Html.BeginForm(action, "Accounts", FormMethod.Get, new { enctype = "multipart/form-data", @class = "form-horizontal form-label-left " }))
{*@
     <form asp-action="@action" asp-controller="Accounts"
          data-ajax="true" data-ajax-method="get" enctype="multipart/form-data"  class="form-horizontal form-label-left input_mask"   >
                   
    
    <section class="content">
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="card">
                    <div class="card-body">
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <div class="row">
                            <div class="col-12">
                                <div id="message">

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            @Html.Partial("_PartialDate", new PartialDateViewModels
                          {
                              Label = "From Date",
                              ParentContainerID = "from-container",
                              ColCssClass = "col-6 col-sm-6",
                              ShowAltField = false,
                              DateFieldId = "fromdate",
                              DateFieldName = "Fromdate",
                              KeepDataFieldReadOnly = true
                          })

                            @Html.Partial("_PartialDate", new PartialDateViewModels
                          {
                              Label = "To Date",
                              ParentContainerID = "to-cotainer",
                              ColCssClass = "col-6 col-sm-6",
                              ShowAltField = false,
                              DateFieldId = "todate",
                              DateFieldName = "Todate",
                              KeepDataFieldReadOnly = true
                          })
                            <div class="col-6 col-sm-12">
                                <label>Bank/Cash</label>
                                <div class="controls">
                                    @Html.DropDownList("LedgerId", (SelectList)ViewBag.LedgerLists, new { @class = "form-control has-feedback-left select2" })
                                    <span class="fa fa-bank form-control-feedback left" aria-hidden="true"></span>
                                    @Html.ValidationMessage("LedgerId")
                                </div>
                            </div>
                            <div class="col-6 col-sm-12">
                                <label>Voucher No</label>
                                <div class="controls">

                                    <input type="text" name="VoucherNo" id="VoucherNo" class="form-control has-feedback-left" />
                                    <span class="fa fa-sort-numeric-asc form-control-feedback left" aria-hidden="true"></span>
                                    @Html.ValidationMessage("VoucherNo")
                                </div>
                            </div>
                            <div class="col-12 col-md-12 mt-2">
                                <button type="button" id="btnSearch" class="btn btn-primary sico-btn float-right" name="Search"><i class="fa fa-search mr-2"></i> Search</button>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

            <div class="col-12 col-md-8">
                <div class="card">
                    <div class="card-header px-2">
                        <h3>
                            @title
                            <a href="@Url.Action(createAction)" class="btn btnSearchStudent btn-primary float-right sico-button sico-btn ajax-load-menu"><i class="fa fa-plus-circle"></i> Add New Record</a>
                        </h3>
                    </div>
                    <div class="card-body">

                        <div class="row no-gutters sico-form-col mt-1">
                            <div class="col-12">
                          @*      @Html.EJS().Grid(gridId).AllowGrouping().Height("auto").Width("auto").ShowColumnMenu().ShowColumnChooser().AllowResizing().Columns(col =>
                           {
                               col.Template("#sno").HeaderText("S.No").TextAlign(TextAlign.Left).Width("90").Add();
                               col.Field("VocherDate").HeaderText("Voucher Date").TextAlign(TextAlign.Left).AutoFit(true).Format(new { type = "dateTime", format = "dd/MM/yyyy" }).Add();
                               col.Field("voucherNo").HeaderText("Voucher No").TextAlign(TextAlign.Left).AutoFit(true).Add();
                               col.Field("LedgerName").HeaderText("Cash/Bank").TextAlign(TextAlign.Left).Add();
                               col.Field("Debit").HeaderText("Debit").AutoFit(true).TextAlign(TextAlign.Left).Add();
                               col.Field("Credit").HeaderText("Credit").AutoFit(true).TextAlign(TextAlign.Left).Add();
                               col.Template("#action").HeaderText("Action").Width("100").TextAlign(TextAlign.Left).Add();
                           }).AllowFiltering().FilterSettings(filter => { filter.Type(FilterType.CheckBox); }).AllowSorting().AllowPaging().PageSettings(page => page.PageSize(15).PageSizes(new string[] { "15", "30", "50", "All" })).Toolbar(new List<string>
                             {  "Print", "ColumnChooser", "Search" }).Render()*@

                                @{
                                    var modelgrid = new GridModel()
            {
                GridId = "gridId",
                AllowExcelExport = true,
                AllowPdfExport = true,
                AllowGrouping = true,
                Width = "auto",
                Height = "auto",
                //AddSerialN = true;
                Columns = new List<Column>
                                {
                                new Column{Template="#sno",HeaderText="S.No",AutoFit=true,HeaderTextAlign=TextAlign.Left},
                                new Column{FieldName="vocherDate",HeaderText="Voucher Date",DateFormat= "dd/MM/yyyy",AutoFit=true,HeaderTextAlign=TextAlign.Left},
                                new Column{FieldName="voucherNo",HeaderText="Voucher No",AutoFit=true,HeaderTextAlign=TextAlign.Left},
                                new Column{FieldName="ledgerName",HeaderText="Cash/Bank",AutoFit=true,HeaderTextAlign=TextAlign.Left},
                                new Column{FieldName="debit",HeaderText="Debit",AutoFit=true,HeaderTextAlign=TextAlign.Left},
                                new Column{FieldName="credit",HeaderText="Credit",AutoFit=true,HeaderTextAlign=TextAlign.Left},
                                new Column{Template="#action",HeaderText="Action",AutoFit=true,HeaderTextAlign=TextAlign.Left},
                                
           
                                },
                AllowFiltering = true,
            };
                                }
                                @await Html.PartialAsync("_grid",modelgrid)




                                <script id="sno" type="text/x-jsrender">
                                    ${sno(index)}
                                </script>
                                <script type="text/x-jsrender" id="action">
                                    <a title="Edit" href="/Accounts/@createAction/${Id}" class="ajax-load-menu ml-1"><i class="fa fa-edit"></i></a>
                                    <a title="Delete" href="javascrpt:void(0);" onclick="deleteRecord(${Id})" class="ml-1"><i class="fa fa-trash"></i></a>
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</form>
<script @resources.JavaScript>

    $('#btnSearch').on('click',
        function() {
            var fromdate = $('#fromdate').val();
            var todate = $('#todate').val();
            var ledger = $('#LedgerId').val();
            var voucher = $('#VoucherNo').val();

            var url1 = '@Url.Action(listdataAction)';
            url1 += encodeURI('?fromdate=' + fromdate + '&todate=' + todate + '&LedgerId=' + ledger + '&VoucherNo=' + voucher);
            var grid = document.getElementById("@gridId").ej2_instances[0]
            grid.dataSource = [];
            grid.dataSource = new ej.data.DataManager({
                url: url1,
                adaptor: new ejs.data.UrlAdaptor()
            });
        });
    function reloadGridData() {
        let grid = document.getElementById('@gridId').ej2_instances[0];
        grid.refresh();
    }

    function deleteRecord(id) {

        sweetalertWithUrl("Are you sure to delete this record?", `/Accounts/@deleteMasterAction/${id}`, true, reloadGridData)

    }

    $(function () {
        $('#btnSearch').trigger('click');
    });
</script>


