@using sms.Models
@model Models.Student
@inject StaticResources resources

@{
    ViewBag.Title = "Create";
}

<div class="breadcrumbs ace-save-state" id="breadcrumb">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home ace-icon home-icon">

            </i>
            <a href="@Url.Action("Index", "Dashboard")">Dashboard</a>
        </li>
        <li class="active">
            Upload Data
        </li>

    </ul>
</div>


<div class="row">
    <div class="col-12 col-sm-6">

      @*  @using (Ajax.BeginForm("UploadStdData", "UploadData", null, new AjaxOptions { HttpMethod = "post", LoadingElementId = "server-progress", OnBegin = "begin", OnComplete = "completed" }, new { enctype = "multipart/form-data", @class = "form-horizontal form-label-left input_mask", id = "UploadStdDataForm" }))
        {*@

        <form asp-action="UploadStdData" asp-controller="UploadData" data-ajax="true" data-ajax-method="post" enctype="multipart/form-data" data-ajax-complete="completed" data-ajax-begin="begin" class="form-horizontal form-label-left input_mask" id="UploadStdDataForm" data_reset="true">
        
            <section class="content">
                <div class="row">
                    <div class="col-12">
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <div class="card">
                            <div class="card-header">
                                <h3>Upload Student Data <a href="https://www.youtube.com/watch?v=LcG_cpH1AkU#t=215s" target="_blank" title="Watch our Youtube video to understand" class="btn btn-default btn-sm float-right"><i class="fa fa-question-circle"></i> Help </a></h3>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <div id="message">

                                        </div>
                                    </div>


                                    <div class="col-12">
                                        <div class="row">
                                            @await Html.PartialAsync("_PartialCampusSelector", new PartialCampusViewModels { ParentContainerID = "UploadStdDataForm", ColCssClass = "col-12 col-sm-6", ShowSession = true, ShowCampus = true, ShowClasses = true, ShowSections = true })
                                            <div class="col-12"></div>
                                            <div class="col-md-6">
                                                <label class="checkbox">
                                                    <input type="checkbox" value="true" name="ClassSelected"
                                                           id="chkbxclass" class="mr-2" />
                                                    Select Class
                                                </label>
                                            </div>
                                            <div class="col-md-6" id="chksectionHolder">
                                                <label class="checkbox">
                                                    <input type="checkbox" value="true"
                                                           name="SectionSelected" id="chkbxsection" class="mr-2" />
                                                    Select Section
                                                </label>
                                            </div>
                                            <div class="col-12">
                                                <label class="control-label">Select data file</label>
                                                <input type="file" data-preview="StdExelFilePreview" name="StudentExcelSheet" id="StudentExcelSheet" class="form-control p-1" style="height: 35px;" />
                                            </div>
                                            <p class="text-muted ml-3 small">Note: Excel sheet required fields are RegistrationNo, StudentName, DateofBirth,FatherName,AdmissionDate, Class, Section</p>
                                            <div class="col-12 pt-3">
                                                <button type="submit" value="Create" class="btn btn-primary float-right">
                                                    <i class="fa fa-save mr-2"></i>
                                                    <span>
                                                        <i id="server-progress" style="display: none;" class=" fa fa-spinner fa-spin "></i>
                                                    </span> Upload and Save
                                                </button>
                                                @*    <button type="button" class="pull-right btn btn-primary btnFile mt-3 mr-3" data-targetfileinputid="StudentExcelSheet"><i class="fa fa-file mr-2"></i>Upload Sheet</button>*@
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <a href="@Url.Action("DownloadSampleSheet")" target="_blank" class="pull-left btn btn-prim" id="download"><i class="fa fa-download mr-2"></i> Download Sample Sheet</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
      </form>
    </div>
    <div class="col-12 col-sm-6">

      @*  @using (Ajax.BeginForm("UploadEmployeeData", "UploadData", null, new AjaxOptions { HttpMethod = "post", LoadingElementId = "UploadEmpDataForm #server-progress", OnBegin = "begin", OnComplete = "completed" }, new { enctype = "multipart/form-data", @class = "form-horizontal form-label-left input_mask", id = "UploadEmpDataForm" }))
        {*@
        <form asp-action="UploadEmployeeData" asp-controller="UploadData"
              data-ajax="true" data-ajax-method="post" enctype="multipart/form-data" data-ajax-complete="completed" data-ajax-begin="begin" class="form-horizontal form-label-left input_mask" id="UploadEmpDataForm" data_reset="true">
                    <section class="content">
                <div class="row">
                    <div class="col-12">
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <div class="card">
                            <div class="card-header">
                                <h3>Upload Employee Data</h3>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <div id="message">

                                        </div>
                                    </div>


                                    <div class="col-12">
                                        <div class="row">
                                            @await Html.PartialAsync("_PartialCampusSelector", new PartialCampusViewModels { ParentContainerID = "UploadEmpDataForm", ColCssClass = "col-12 col-sm-6", ShowCampus = true })


                                            <div class="col-12">
                                                <label class="control-label">Select data file</label>
                                                <input type="file" data-preview="EmployeeExcelSheet" name="EmployeeExcelSheet" id="EmployeeExcelSheet" class="form-control p-1" style="height: 35px;" />
                                            </div>
                                            <div class="col-12 pt-3">
                                                <button type="submit" value="Create" class="btn btn-primary float-right">
                                                    <i class="fa fa-save mr-2"></i>
                                                    <span>
                                                        <i id="server-progress" style="display: none;" class=" fa fa-spinner fa-spin "></i>
                                                    </span> Upload and Save
                                                </button>
                                                @*    <button type="button" class="pull-right btn btn-primary btnFile mt-3 mr-3" data-targetfileinputid="StudentExcelSheet"><i class="fa fa-file mr-2"></i>Upload Sheet</button>*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <a href="@Url.Action("DownloadEmployeeSampleSheet")" target="_blank" class="pull-left btn btn-prim" id="downloademp"><i class="fa fa-download mr-2"></i> Download Sample Sheet</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </form>
    </div>

    <div class="col-12 col-sm-6">

      @*  @using (Ajax.BeginForm("UploadResultData", "UploadData", null, new AjaxOptions { HttpMethod = "post", LoadingElementId = "server-progress", OnBegin = "begin", OnComplete = "completed" }, new { enctype = "multipart/form-data", @class = "form-horizontal form-label-left input_mask", id = "UploadResultDataForm" }))
        {*@

        <form asp-action="UploadResultData" asp-controller="UploadData"
              data-ajax="true" data-ajax-method="post" enctype="multipart/form-data" data-ajax-complete="completed" data-ajax-begin="begin" class="form-horizontal form-label-left input_mask" id="UploadResultDataForm" data_reset="true">
            <section class="content">
                <div class="row">
                    <div class="col-12">
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <div class="card">
                            <div class="card-header">
                                <h3>Upload Result Data <a href="https://www.youtube.com/watch?v=LcG_cpH1AkU#t=215s" target="_blank" title="Watch our Youtube video to understand" class="btn btn-default btn-sm float-right"><i class="fa fa-question-circle"></i> Help </a></h3>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <div id="message">

                                        </div>
                                    </div>


                                    <div class="col-12">
                                        <div class="row">
                                            @await Html.PartialAsync("_PartialCampusSelector", new PartialCampusViewModels { CampusFieldName="CampusId", ClassesFieldName="ClassId", ExamsFieldName="ExamHeldId", ParentContainerID = "UploadResultDataForm", ColCssClass = "col-12 col-sm-6", ShowSession = false, ShowCampus = true, ShowClasses = true, ShowExams = true, ShowExamsList=false })
                                            <div class="col-12"></div>
                                            
                                            <div class="col-12">
                                                <label class="control-label">Select data file</label>
                                                <input type="file" data-preview="StdExelFilePreview" name="StudentExcelSheet" id="StudentExcelSheet" class="form-control p-1" style="height: 35px;" />
                                            </div>
                                            <p class="text-muted ml-3 small">Note: Excel sheet required fields are RegNo, Marks, Subjec</p>
                                            <div class="col-12 pt-3">
                                                <button type="submit" value="Create" class="btn btn-primary float-right">
                                                    <i class="fa fa-save mr-2"></i>
                                                    <span>
                                                        <i id="server-progress" style="display: none;" class=" fa fa-spinner fa-spin "></i>
                                                    </span> Upload and Save
                                                </button>
                                                @*    <button type="button" class="pull-right btn btn-primary btnFile mt-3 mr-3" data-targetfileinputid="StudentExcelSheet"><i class="fa fa-file mr-2"></i>Upload Sheet</button>*@
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <a href="@Url.Action("DownloadResultSampleSheet")" target="_blank" class="pull-left btn btn-prim" id="download"><i class="fa fa-download mr-2"></i> Download Result Sample Sheet</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
      </form>
    </div>
</div>

<script @resources.JavaScript>

    $('#chkbxclass').on('change',
        function() {
            if ($(this).prop("checked") == true) {
                $('#UploadStdDataForm #class-control').show();
                $('#UploadStdDataForm #section-control').show();
                $('#UploadStdDataForm #chksectionHolder').show();

            } else if ($(this).prop("checked") == false) {
                $('#UploadStdDataForm #class-control').hide();
                $('#UploadStdDataForm #section-control').hide();
                $('#UploadStdDataForm #chksectionHolder').hide();
            }
        });

    $('#chkbxsection').on('change',
        function() {
            if ($(this).prop("checked") == true) {
                $('#UploadStdDataForm #section-control').show();
            } else if ($(this).prop("checked") == false) {
                $('#UploadStdDataForm #section-control').hide();
            }
        });
    $(function() {
        $('#chkbxclass').trigger('change');
        $('#chkbxsection').trigger('change');
    });
</script>