@inject StaticResources resources

@{
    //ViewBag.Title = "Add New Exam";
    //Layout = "~/Areas/Admin/Views/Shared/_LayoutDashboard.cshtml";


}
<div class="breadcrumbs ace-save-state" id="breadcrumb">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home ace-icon home-icon">

            </i>
            <a href="@Url.Action("Index", "Dashboard")">Dashboard</a>
        </li>
        <li class="active">
            Attendance
        </li>
        <li class="active">
            Attendance By Reg No
        </li>
    </ul>
</div>

<style>
    .checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
        margin-left: -15px;
    }
</style>
<section class="content" id="attendance-container">
    <div class="row ">
        @*<div class="col-12">
        <div id="newCreateMessage">
        </div>
        </div>*@
        @Html.AntiForgeryToken()
        <div class="col-sm-12 col-md-4">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header with-border">
                            <h3 class="card-title"><i class="fa fa-search"></i> Select Criteria <a href="https://www.youtube.com/watch?v=Q5DnOy5rciw&list=UUQFf95Tyl3o9y-DE0vvlTQg#t=40s" target="_blank" title="Watch our Youtube video to understand" class="btn btn-default btn-sm float-right ml-5"><i class="fa fa-question-circle"></i> Help </a></h3>
                        </div>
                        <div class="card-body">
                            <div class="row" id="attendancebytype-container">
                                @await Html.PartialAsync("_PartialCampusSelector", new PartialCampusViewModels { ParentContainerID = "attendancebytype-container", ColCssClass = "col-12 pt-2 has-feedback", ForSearch = true, ShowCampus = true })

                                <div class="col-md-6 col-sm-6 col-6 form-group has-feedback">
                                    <label>Attendance</label><font class="text-danger">*</font>
                                    <div class="controls">
                                        @Html.DropDownList("AttendanceType", (SelectList)ViewBag.AttendanceType, new { @class = "form-control chosen has-feedback-left", placeholder = "enter name here." })
                                        <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                        @Html.ValidationMessage("CreateName")
                                    </div>
                                </div>

                                <div class=" col-6 form-group has-feedback">
                                    <label>Reg No.</label><font class="text-danger">*</font>
                                    <div class="controls">
                                        @Html.TextBox("RegNo", null, new { @class = "form-control has-feedback-left", placeholder = "enter Reg No. here." })
                                        <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                        @Html.ValidationMessage("RegNo")
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
                <div class="col-12">
                    <div class="card">

                        <div class="card-body">
                            <div class="col-12 col-md-12">
                                <img class="profile-user-img img-fluid rounded mx-auto d-block" id="pbxPhoto" src="~/Uploads/images/user.png" alt="User profile picture" style="max-width: 90px">
                                <h3 class="profile-username text-center">
                                    <span class="name" id="lblregno">.......</span>
                                </h3>
                                <ul class="list-group list-group-unbordered">
                                    <li class="list-group-item listnoback">
                                        <span>Address</span>
                                        <a class="float-right text-aqua">
                                            <span class="name address" id="lbladdress">..........</span>
                                        </a>
                                    </li>
                                    @*<li class="list-group-item listnoback">
                                    <b>Admission Number</b> <a class="pull-right text-aqua">@admission.ID</a>
                                    </li>*@
                                    <li class="list-group-item listnoback">
                                        <span>Campus</span>
                                        <a class="float-right text-aqua">
                                            <span class="campusname" id="lblcampus">......</span>
                                        </a>
                                    </li>
                                    <li class="list-group-item listnoback">
                                        <span>Class</span>
                                        <a class="float-right text-aqua">
                                            <span class="classname" id="lblclass">........</span>
                                        </a>
                                    </li>
                                    <li class="list-group-item listnoback">
                                        <span>Section</span>
                                        <a class="float-right text-aqua">
                                            <span class="sectionname" id="lblsection">....</span>
                                        </a>
                                    </li>

                                </ul>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>


        <div class="col-md-8 col-sm-12">
            <div class="card">
                <div class="card-header with-border">
                    <h3 class="card-title"><i class="fa fa-list mr-2"></i>Student List</h3>

                </div>
                <div class="card-body">
                    <div>
                        @{
                            var gridmodel = new GridModel()
                            {
                GridId = "list_attenance_regno",
                Columns =new List<Column>
                {
                        new Column{FieldName="regNo",HeaderText="Reg No",TextAlign=TextAlign.Left},
                        new Column{FieldName="name",HeaderText="Name",TextAlign=TextAlign.Left},
                        new Column{FieldName="class",HeaderText="Class",TextAlign=TextAlign.Left},
                        new Column{FieldName="time",HeaderText="Time",TextAlign=TextAlign.Left},
                        new Column{Template="#tmpStatus",HeaderText="Status",TextAlign=TextAlign.Left},
                        },
                            };
                        }
                        @await Html.PartialAsync("_grid",gridmodel)
                    </div>
                   @* <div id="Existing" class="table-responsive around10 pt0">
                        @Html.EJS().Grid("list_attenance_regno").Columns(col =>
                        {
                        //col.Field("RegNo").HeaderText("Reg. No").TextAlign(TextAlign.Left).Add();
                        col.Field("RegNo").HeaderText("Reg No").AutoFit(true).TextAlign(TextAlign.Left).Add();
                        col.Field("Name").HeaderText("Name").TextAlign(TextAlign.Left).Add();
                        col.Field("Class").HeaderText("Class").AutoFit(true).TextAlign(TextAlign.Left).Add();
                        col.Field("Time").HeaderText("Time").TextAlign(TextAlign.Left).Add();
                        col.Field("Status").Template("#tmpStatus").HeaderText("Status").TextAlign(TextAlign.Left).Add();
                        }).Load("loaded").Render()
                    </div>*@
                    <script type="text/x-jsrender" id="tmpStatus">
                        ${if(Status=="Error")}
                        <div class="btn btn-danger">
                            <span class="text-white">${Status}</span>
                        </div>
                        ${else if(Status=="Not Found")}
                        <div class="btn btn-warning">
                            <span class="text-white">${Status}</span>
                        </div>
                        ${else}
                        <div class="btn btn-success">
                            <span class="text-white">${Status}</span>
                        </div>
                        ${/if}
                    </script>
                </div>
            </div>
        </div>

    </div>
</section>
<script @resources.JavaScript>
    function loaded() {
        let grid = document.getElementById("list_attenance_regno").ej2_instances[0];
        grid.dataSource = [];
    }




    $('#RegNo').change(function () {
        
        let grid = document.getElementById("list_attenance_regno").ej2_instances[0];
        var regno = $(this).val();
        var campusId = $('#Campus').val();
        $(lblregno).html('...');
        $(lblcampus).html('...');
        $(lblclass).html('...');
        $(lblsection).html('...');
        $(lbladdress).html('...');
        $(pbxPhoto).attr('src', '/Uploads/images/user.png');

        var found = (grid.dataSource).find(function (v, i) { return v.RegNo == regno; });
        //console.log(found);
        if (found) {
            $('#RegNo').focus().select();
            return false;
        }
        block('#attendance-container');
        //var exist = table.columns(1).data().eq(0).indexOf(regno);
        let saveUrl = '/Attendances/SaveAttendance';
        $.post(saveUrl,
            { regno: regno, time: moment().format("DD-MM-YYYY HH:mm"), type: $('#AttendanceType').val(), campusId },
            function (data) {
                if (data) {
                    let info = { regNo: regno, name: data.data.studentName, class: data.data.className, time: moment().format("DD-MM-YYYY HH:mm"), Status: data.data.status };
                    (grid.dataSource).unshift(info);
                    grid.refresh();

                    $(lblregno).html(data.data.studentName);
                    $(lblcampus).html(data.data.campusName);
                    $(lblclass).html(data.data.className);
                    $(lbladdress).html(data.data.postalAddress);
                    $(lblsection).html(data.data.sectionName);
                    $(pbxPhoto).attr('src', data.data.photo);
                } else {
                    //alert();
                }
                $('#attendance-container').unblock();
            }).error(function () {
                $('#attendance-container').unblock();
            });
        $('#RegNo').select();
    }); //end reg no change

</script>
 