@model System.Data.DataTable

@{
    ViewBag.Title = "Contra Voucher Delete";
}

<style>
    select.form-control {
        max-height: 30px;
    }
</style>
<section class="content">
   @* @using (Ajax.BeginForm("ContraVoucherDelete", "AccountTransaction", new AjaxOptions { HttpMethod = "POST", OnComplete = "completed", LoadingElementId = "ContraVoucherEditForm #server-progress", OnBegin = "begin" }, new { id = "ContraVoucherEditForm", enctype = "multipart/form-data" }))
    {
        *@
    <form asp-action="ContraVoucherDelete" asp-controller="AccountTransaction"
          data-ajax="true" data-ajax-method="post" enctype="multipart/form-data" data-ajax-complete="completed" data-ajax-begin="begin" class="form-horizontal form-label-left input_mask" id="ContraVoucherEditForm" data_reset="true">
                   
        
        <div class="row">
    <div class="col-12">
        <div id="message">

        </div>
    </div>
</div>

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header with-border">
                        <h3 class="card-title text-center">Are you Sure You want to delete ?</h3>
                    </div><!-- /.box-header -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">

                                @{int j = 1;
                                }
                                @foreach (System.Data.DataRow item in Model.Rows)
                                {
                                    if (j == 1)
                                    {<input type="hidden" name="MasterId" value="@item["Masterid"]" class="form-control has-feedback-left" />

                                        <div class="row">
                                            <div class="col-6 col-md-4">
                                                <label>Voucher No :</label>
                                                <label><b>@item["VoucherNo"]</b></label>

                                            </div>
                                            <div class="col-6 col-md-4">
                                                <label>Date:</label>
                                                <label><b>@item["Date"]</b></label>

                                            </div>
                                            <div class="col-6 col-md-4">
                                                <label>Bank/Cash :</label>
                                                <label><b>@item["LedgerId"]</b></label>

                                            </div>
                                            <div class="col-6 col-md-4">
                                                <label>Narration:</label>
                                                <label><b>@item["Narration"]</b></label>

                                            </div>
                                        </div>
                                    }
                                    j++;
                                }
                            </div>

                            <div class="col-12">

                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-sm" border="1">

                                <thead>
                                    <tr>
                                        <th>
                                            S. No
                                        </th>
                                        <th>
                                            Bank/Cash
                                        </th>
                                        <th>
                                            Amount
                                        </th>

                                        <th>
                                            Cheque No
                                        </th>
                                        <th>
                                            Cheque Date
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="tablebody">
                                    @{int i = 1;}
                                    @foreach (System.Data.DataRow item in Model.Rows)
                                    {
                                        <tr>
                                            <td>
                                                <input type="hidden" name="DetailsId" value="@item["DetailsId"]" class="form-control has-feedback-left" />

                                                @i
                                            </td>
                                            <td>
                                               @item["Bank/Cash"]
                                            </td>
                                            <td>
                                                @item["Amount"]
                                            </td>

                                            <td>
                                                @item["ChequeNo"]
                                            </td>
                                            <td>
                                                @item["ChequeDate"]
                                            </td>

                                        </tr>
                                        i++;
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="form-group col-12 pb-2 mt-3">
                                <a href="@Url.Action("IndexContra", "AccountTransaction")" aria-label="Back to Dashboard" class="btn btn-danger"> <i class="fa fa-chevron-circle-left mr-2"></i> Back to Dashboard</a>
                                <button type="submit" value="Delete" class="btn btn-info pull-right">
                                    <i class="fa fa-trash mr-2"></i> <span>
                                        <i id="server-progress" style="display:none;" class=" fa fa-spinner fa-spin "></i>
                                    </span> Delete
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </form>
</section>
  
    
