@model System.Data.DataTable

@{
    ViewBag.Title = "IndexJournal";
}
<div class="breadcrumbs ace-save-state" id="breadcrumb">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home ace-icon home-icon">

            </i>
            <a href="@Url.Action("Index","Dashboard")">Dashboard</a>
        </li>
        <li class="active">
            Accounts
        </li>
        <li class="active">
            Registers
        </li>
        <li class="active">
            Journal Register
        </li>

    </ul>
</div>
<style>
    select.form-control {
        max-height: 30px;
    }
</style>
@*@using (Html.BeginForm("IndexJournal", "AccountTransaction", FormMethod.Get, new { enctype = "multipart/form-data", @class = "form-horizontal form-label-left " }))
{*@

    
<form asp-action="IndexJournal" asp-controller="AccountTransaction"
          data-ajax="true" data-ajax-method="get" enctype="multipart/form-data"  class="form-horizontal form-label-left input_mask"   >
              
    <section class="content">
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="card">
                    <div class="card-body">
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <div class="row">
                            <div class="col-12">
                                <div id="message">

                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-6 col-md-6">
                                <label>From Date</label>
                                <input type="date" name="Fromdate" id="fromdate" class="small form-control has-feedback-left" required />
                                <span class="fa fa-calendar form-control-feedback left" aria-hidden="true"></span>
                                @Html.ValidationMessage("Fromdate")
                            </div>
                            <div class="col-6 col-md-6">
                                <label>To Date</label>
                                <input type="date" name="Todate" id="todate" class="small form-control has-feedback-left" required />
                                <span class="fa fa-calendar form-control-feedback left" aria-hidden="true"></span>
                                @Html.ValidationMessage("Todate")
                            </div>
                            <div class="col-6 col-md-6">
                                <label>Voucher No</label>
                                <input type="text" name="VoucherNo" id="VoucherNo" class="small form-control has-feedback-left" />
                                <span class="fa fa-sort-numeric-asc form-control-feedback left" aria-hidden="true"></span>
                                @Html.ValidationMessage("VoucherNo")
                            </div>
                            <div class="col-12 col-md-12 pt-3">
                                <button type="button" id="btnSearch" class="sico-btn btn btn-info float-right " name="Search"><i class="fa fa-search mr-2"></i> Search</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h3>Journal Voucher List</h3>
                    </div>
                    <div class="card-body">

                        <div class="row no-gutters sico-form-col mt-1">
                            <div class="col-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-sm" border="1" id="example">

                                        <thead>
                                            <tr>
                                                <th>
                                                    S. No
                                                </th>
                                                <th>
                                                    Voucher No
                                                </th>
                                                <th>
                                                    Voucher Type
                                                </th>
                                                <th>
                                                    Date
                                                </th>
                                                <th>
                                                    Narration
                                                </th>

                                                <th>
                                                    Amount
                                                </th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>
<script>
    $('#btnSearch').on('click', function () {
        $('#example tbody').html('');
        var FromDate = $('#fromdate').val();
        var ToDate = $('#todate').val();
        var VoucherNo = $('#VoucherNo').val();
        var url1 = '/api/Account/JournalVoucher?FromDate=' + FromDate + '&ToDate=' + ToDate + '&VoucherNo=' + VoucherNo;
        //  url1 += '?FromDate=' + FromDate + '&ToDate=' + ToDate + '&LedgerId=' + LedgerId + '&VoucherNo=' + VoucherNo + '&radio=' + radio;
        //string FromDate, string ToDate, string LedgerId, string VoucherNo, string radio
        var title = '""';
        var messageTop = 'List Of Journal Voucher';
        var colmodel = [
            { "data": "SlNo", "orderable": true, "searchable": true },
            { "data": "invoiceNo", "orderable": true, "searchable": true },
            { "data": "voucherTypeName", "orderable": false, "searchable": true },
            { "data": "date", "orderable": true, "searchable": true },
            { "data": "narration", "orderable": true, "searchable": true },
            { "data": "amount", "orderable": false, "searchable": true },
            { "data": "action", "orderable": false, "searchable": true },

        ];
        DrawTableLocal('#example', colmodel, url1, messageTop, title);
    });</script>
