@model  SalaryVoucherMasterInfo
 @inject StaticResources resources
@{
    ViewBag.Title = "Deletemonthlysalary";
    Layout = null;
}
<h5>Are you sure you want to delete it?</h5>
<div class="col-12">
    <dl class="dl-horizontal">
        <dt>
            Voucher No
        </dt>
        <dd>
            @Html.DisplayFor(m => m.VoucherNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(m => m.Date)
        </dt>
        <dd>
            @Html.DisplayFor(m => m.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(m => m.Month)
        </dt>
        <dd>
            @Html.DisplayFor(m => m.Month)
        </dd>
        <dt>
            @Html.DisplayNameFor(m => m.Narration)
        </dt>
        <dd>
            @Html.DisplayFor(m => m.Narration)
        </dd>
    </dl>
</div>

@*@using (Ajax.BeginForm("Deletemonthlysalary", "Payroll", new AjaxOptions {HttpMethod = "POST", OnSuccess = "reloadGridData", OnComplete = "completed", LoadingElementId = "classFeeIndexmainForm #server-progress", OnBegin = "begin"}, new {id = "classFeeIndexmainForm"}))
{*@

<form asp-action="Deletemonthlysalary" asp-controller="Payroll"
      data-ajax="true" data-ajax-method="post" data-ajax-complete="completed" data-ajax-begin="begin" class="form-horizontal form-label-left input_mask" id="classFeeIndexmainForm" data_reset="true">
  
    <div class="row">
        <div class="col-12">
            <div id="message">

            </div>
        </div>
    </div>

    <div class="row">

        <div class="form-group col-12 pb-2 mt-3">
            <a href="@Url.Action("MonthlySalaryRegister", "Payroll")" aria-label="Back to Dashboard" class="btn btn-primary float-right"> <i class="fa fa-chevron-circle-left mr-2"></i> Back </a>
            <input type="hidden" name="masterid" value="@Model.SalaryVoucherMasterId"/>
            <button type="submit" value="delete" id="delete" class="btn btn-danger float-right">
                <i class="fa fa-trash mr-2"></i>
                <span>
                    <i id="server-progress" style="display: none;" class=" fa fa-spinner fa-spin "></i>
                </span> Delete
            </button>
        </div>
    </div>
</form>
<script @resources.JavaScript>
    function reloadGridData() {
        $('#delete').hide();
    }
</script>