@model   HostelAttendance
@inject StaticResources resources

@{
    ViewBag.Title = "Edit";
    //if (Request.IsAjaxRequest())
    //{
    //    Layout = null;
    //}
}

@*@using (Ajax.BeginForm("HostelAttendanceEdit", "Hostel", new AjaxOptions {HttpMethod = "POST", OnComplete = "completed", OnSuccess = "reloadGridData", LoadingElementId = "editHostelAttendancemainForm #server-progress", OnBegin = "begin"}, new {id = "editHostelAttendancemainForm", enctype = "multipart/form-data"}))
{*@


<form asp-action="HostelAttendanceEdit" asp-controller="Hostel"
      data-ajax="true" data-ajax-method="post" enctype="multipart/form-data" data-ajax-complete="completed" data-ajax-begin="begin" class="form-horizontal form-label-left input_mask" id="editHostelAttendancemainForm" data_reset="true">
                   
    <div class="row">

        <div class="col-12 ">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title titlefix">Edit Hostel Attendance</h3>
                </div>
                <div class="card-body">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.HostelId)
                    @Html.HiddenFor(model => model.HostleAdmId)
                    <div class="row">
                        <div class="col-12">
                            <div id="message">

                            </div>
                        </div>
                    </div>
                    <div class="Container">

                        <div class="row ">

                            @Html.Partial("_PartialDate", new PartialDateViewModels
                                {
                                    Label = "Date",
                                    ParentContainerID = "adm-date",
                                    ColCssClass = "col-12 col-sm-6",
                                    ShowAltField = false,
                                    DateFieldId = "Date",
                                    DateFieldName = "Date",
                                    KeepDataFieldReadOnly = true,
                                    DefaultDate = DateTime.Now,

                                })
                            <div class="col-12 col-md-6 col-sm-6 has-feedback">
                                <label>Type</label><font class="text-danger">*</font>
                                                   <div class="controls">
                                                       @Html.DropDownListFor(model => model.AttendanceTypeId, (SelectList)ViewBag.AttendanceType, new { @class = "small form-control has-feedback-left", required = "true" })
                                                       <span class="fa fa-list small form-control-feedback left" aria-hidden="true"></span>
                                                       @Html.ValidationMessageFor(model => model.AttendanceTypeId)
                                                   </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-12">
                               @* <a href="@Url.Action("Index", "HostelAttendance")" aria-label="Close" class="btn btn-danger float-left mt-2"> <i class="fa fa-times mr-2"></i>Back to Dashboard</a>*@
                                <button type="reset" name="Reset" id="resetbtn" class="btn btn-primary float-right mt-2 btn-sm"><i class="fa fa-refresh mr-2"></i>Reset</button>
                                <button type="submit" value="Create" name="Update" id="updatebtn" class="btn btn-primary float-right mt-2 mr-2 btn-sm">
                                    <i class="fa fa-save mr-2"></i>
                                    <span>
                                        <i id="server-progress" style="display: none;" class=" fa fa-spinner fa-spin "></i>
                                    </span> Save
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script @resources.JavaScript>
    
</script>