@model HostelAdmission
@inject StaticResources resources

@{
    ViewBag.Title = "Edit";
    //if (Request.IsAjaxRequest())
    //{
    //    Layout = null;
    //}
}
@*@using (Ajax.BeginForm("HostelAdmissionEdit", "Hostel", new AjaxOptions {HttpMethod = "POST", OnComplete = "completed", OnSuccess = "reloadGridData", LoadingElementId = "edithosteladmissionmainForm #server-progress", OnBegin = "begin"}, new {id = "edithosteladmissionmainForm", enctype = "multipart/form-data"}))
{*@
<form asp-action="HostelAdmissionEdit" asp-controller="Hostel"
                          data-ajax="true" data-ajax-method="post" enctype="multipart/form-data" data-ajax-complete="completed" data-ajax-begin="begin" class = "form-horizontal form-label-left input_mask" id = "edithosteladmissionmainForm" data_reset = "true">
                   


    <div class="row">

        <div class="col-12 ">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <div class="row">
                <div class="col-12">
                    <div id="message">

                    </div>
                </div>
            </div>

            <div class="Container">

                <div class="row ">
                    @Html.HiddenFor(model => model.AdmisionId, new { id = "regNo" })
                    <div class="col-12  col-sm-6 has-feedback">
                        <label>Hostel</label><font class="text-danger">*</font>
                                             <div  class="controls">
                                                 @Html.DropDownListFor(model => model.HostelId, (SelectList)ViewBag.hostelname, new { @class = " form-control has-feedback-left", required = "true", id = "HostelIds" })
                                                 <span class="fa fa-building small form-control-feedback left" aria-hidden="true"></span>
                                                 @Html.ValidationMessageFor(model => model.HostelId)
                                             </div>
                    </div>

                    <div class="col-12 col-sm-6 has-feedback">
                        <label>Room</label>
                        <div  class="controls">
                            <select name="RoomId" id="roomIds" class="form-control"></select>
                            <input type="text" id="roomavailables" readonly class="col-6" style="background-color: #D5D5D5; color: black; height: 28px;" /><label style="background-color: #D5D5D5; color: black; margin-top: 0px; padding: 4px; padding-right: 15px;">Seat available</label>
                            <span class="fa fa-home small form-control-feedback left" aria-hidden="true"></span>
                        </div>
                    </div>

                    @Html.Partial("_PartialDate", new PartialDateViewModels
                        {
                                Label = "Admission Date",
                                ParentContainerID = "adm-date",
                                ColCssClass = "col-12 col-md-3 col-sm-4 date",
                                ShowAltField = false,
                                DateFieldId = "AdmissionDate",
                                DateFieldName = "AdmissionDate",
                                KeepDataFieldReadOnly = true,
                                DefaultDate = DateTime.Now
                           })

                    <div class="col-12  col-sm-6 has-feedback">
                        <label>Fee</label>
                        <div  class="controls">
                            @Html.TextBoxFor(model => model.Fee, new { @class = " form-control has-feedback-left" })
                            <span class="fa fa-money small form-control-feedback left" aria-hidden="true"></span>
                            @Html.ValidationMessageFor(model => model.Fee)
                        </div>
                    </div>

                    <div class="col-12  col-sm-6 has-feedback">
                        <label>Student Reg No</label>
                        <div  class="controls">
                            <input type="text" name="studentId" value="@ViewBag.studentid" class=" form-control" />
                            <span class="fa fa-info small form-control-feedback left" aria-hidden="true"></span>
                            @Html.ValidationMessageFor(model => model.AdmisionId)
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-12">
                       @* <a href="@Url.Action("Index", "HostelAdmission")" aria-label="Close" class="btn btn-danger float-left mt-2"> <i class="fa fa-times mr-2"></i>Back to Dashboard</a>*@
                        <button type="reset" name="Reset" id="resetbtn" class="btn btn-primary float-right mt-2 btn-sm"><i class="fa fa-refresh mr-2"></i>Reset</button>
                        <button type="submit" value="Create" name="Update" id="updatebtns" class="btn btn-primary float-right mt-2 mr-2 btn-sm">
                            <i class="fa fa-save mr-2"></i>
                            <span>
                                <i id="server-progress" style="display: none;" class=" fa fa-spinner fa-spin "></i>
                            </span> Save
                        </button>
                    </div>
                </div>

            </div>

        </div>
    </div>
</form>

<script @resources.JavaScript>

    setTimeout(function() {
        $('#HostelIds').trigger('change');
        },
        100);
    $('#HostelIds').on('change',
        function() {
            var url = '@Url.Action("Getroom", "Hostel")';
            url += '?hostelId=' + $('#HostelIds').val();
            $.get(url,
                function(data) {
                    var data = JSON.parse(data);
                    $('#roomIds').html('').select2({
                        data: data,
                        width: '100%'
                    }).val(@Model.RoomId).trigger('change');
                });
        });

    $('#roomIds').on('change',
        function() {
            $('#updatebtn').disable();
            var url = '@Url.Action("Getavalaibleroom", "Hostel")';
            url += '?roomId=' + $('#roomIds').val() + "&regno=" + $('#regNo').val();
            $.get(url,
                function(data) {
                    var data = JSON.parse(data);
                    $('#roomavailables').val(data.roomavailable);
                    if (parseInt(data.roomavailable) > 0) {
                        $('#updatebtns').enable();
                    } else {
                        $('#updatebtns').disable();
                    }
                });

        });
</script>