@model  Visitor

@{
    ViewBag.Title = "Edit";
    //if (Request.IsAjaxRequest())
    //{
    //    Layout = null;
    //}
}
@*@using (Ajax.BeginForm("VisitorEdit", "Hostel", new AjaxOptions {HttpMethod = "POST", OnComplete = "completed", OnSuccess = "reloadGridData", LoadingElementId = "editvisitormainForm #server-progress", OnBegin = "begin"}, new {id = "editvisitormainForm", enctype = "multipart/form-data"}))
{*@

<form asp-action="VisitorEdit" asp-controller="Hostel" data-ajax="true" data-ajax-method="post" enctype="multipart/form-data" data-ajax-complete="completed" data-ajax-begin="begin" class="form-horizontal form-label-left input_mask" id="editvisitormainForm" data_reset="true">
                   

    <div class="row">
        <div class="col-12">
            <div id="message">

            </div>
        </div>
    </div>
    <div class="Container">
        
        <div class="row ">
            <div class="col-12 col-md-4 col-sm-6 has-feedback">
               

            <div class="col-12 col-md-4 col-sm-6 has-feedback">
                <label>Visitor</label><font class="text-danger">*</font>
                                      <div  class="controls">
                                          @Html.HiddenFor(model => model.Id, new { @class = "small form-control has-feedback-left" })

                                          @Html.TextBoxFor(model => model.Name, new { @class = "small form-control has-feedback-left", required = "true" })
                                          <span class="fa fa-home small form-control-feedback left" aria-hidden="true"></span>
                                          @Html.ValidationMessageFor(model => model.Name)
                                      </div>
            </div>
            <div class="col-12 col-md-4 col-sm-6 has-feedback">
                <label>Relationship</label><font class="text-danger">*</font>
                                           <div  class="controls">
                                               @Html.TextBoxFor(model => model.Relationship, new { @class = "small form-control has-feedback-left", required = "true" })
                                               <span class="fa fa-user-o small form-control-feedback left" aria-hidden="true"></span>
                                               @Html.ValidationMessageFor(model => model.Relationship)
                                           </div>
            </div>

            <div class="col-12 col-md-4 col-sm-6 has-feedback">
                <label>Cnic</label>
                <div  class="controls">
                    @Html.TextBoxFor(model => model.Cnic, new { @class = "small form-control has-feedback-left" })
                    <span class="fa fa-id-card small form-control-feedback left" aria-hidden="true"></span>
                    @Html.ValidationMessageFor(model => model.Cnic)
                </div>
            </div>
            <div class="col-12 col-md-4 col-sm-6 has-feedback">
                <label>Date</label>
                <div  class="controls">
                    @Html.TextBoxFor(model => model.Date, new { @class = "small form-control has-feedback-left", type = "date" })
                                <span class="fa fa-calendar-times-o small form-control-feedback left" aria-hidden="true"></span>
                                @Html.ValidationMessageFor(model => model.Date)
                            </div>
            </div>

          

        </div>


        <div class="row">
            <div class="col-12">
             @*   <a href="@Url.Action("Index", "visitors")" aria-label="Close" class="btn btn-danger float-left mt-2"> <i class="fa fa-times mr-2"></i>Back to Dashboard</a>*@
                <button type="reset" name="Reset" id="resetbtn" class="btn btn-primary float-left mt-2 btn-sm"><i class="fa fa-refresh mr-2"></i>Reset</button>
                <button type="submit" value="Create" name="Update" id="updatebtn" class="btn btn-primary float-right btn-sm mt-2 mr-2">
                    <i class="fa fa-save mr-2"></i>
                    <span>
                        <i id="server-progress" style="display: none;" class=" fa fa-spinner fa-spin "></i>
                    </span> Save
                </button>
            </div>
        </div>
    </div>
</form>